In [2]:
import pandas as pd
import src.scripts as src

In [3]:
# import df vertical
df_vertical = src.read_from_efs('df_final_vertical.csv')
src.print_info(df_vertical, 'df_vertical')
df_vertical.tail()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

df_vertical pd.DataFrame shape: (35062693, 10)
df_vertical pd.DataFrame size: 2840.08 Mb

,npi,generic_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,cost_per_bene,cost_per_claim,label
35062688,1992999882,LAMOTRIGINE,10.0,16,16.0,367,108.87,10.887000,6.804375,False
35062689,1992999882,QUETIAPINE FUMARATE,10.0,15,15.0,426,360.38,36.038000,24.025333,False
35062690,1992999882,RISPERIDONE,10.0,13,15.0,432,172.30,17.230000,13.253846,False
35062691,1992999882,SERTRALINE HCL,13.0,23,23.0,640,110.68,8.513846,4.812174,False
35062692,1992999882,TRAZODONE HCL,16.0,21,23.0,632,209.33,13.083125,9.968095,False

In [4]:
df = df_vertical.groupby('npi').agg('sum')
df.drop(columns=['cost_per_bene','cost_per_claim','label'], inplace=True)
df['cost_per_bene'] = df['total_drug_cost']/df['bene_count']
df['cost_per_claim'] = df['total_drug_cost']/df['total_claim_count']
src.print_info(df, 'df')
df.tail()

df pd.DataFrame shape: (1043196, 7)
df pd.DataFrame size: 66.76 Mb

,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,cost_per_bene,cost_per_claim
npi,,,,,,,
1992999817,64.0,106,109.6,1666,1710.15,26.721094,16.133491
1992999825,417.0,730,853.3,19354,24020.60,57.603357,32.904932
1992999866,20.0,23,23.0,164,275.09,13.754500,11.960435
1992999874,137.0,140,143.0,1810,1131.59,8.259781,8.082786
1992999882,143.0,216,223.1,6105,1961.22,13.714825,9.079722